#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_SHARED_LIBS=1 -DUSE_LTO=1

override_dh_strip:
	dh_strip --dbg-package=kodi-imagedecoder-svg-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/kodi-imagedecoder-svg

override_dh_installdocs:
	dh_installdocs --link-doc=kodi-imagedecoder-svg
